# Example .env file for FastAPI VSS application
REDIS_PASSWD=xvN2ErdyY4 # Password for Redis, change this to a secure password
LOG_LEVEL=INFO
GIT_VERSION=latest
CONFIG_PATH=/Users/dcline/Dropbox/code/ai/fastapi-vss/config
LOG_PATH=/Users/dcline/Dropbox/code/ai/fastapi-vss/logs
MLDEVOPS_UID=582
MLDEVOPS_GID=513
DATA_PATH=/Users/dcline/Dropbox/code/ai/fastapi-vss/data
