fastapi==0.111.1
uvicorn==0.41.0
python-multipart==0.0.22
httpx==0.28.1
Pillow==12.1.1
prometheus-fastapi-instrumentator==7.1.0
pydantic==2.8.2
pyyaml==6.0.3
numpy==2.4.2
async-timeout==5.0.1
redis==5.0.7
nvidia-ml-py==13.590.48
transformers==5.2.0
torch==2.10.0
torchvision==0.25.0
rq==2.7.0