fastapi~=0.111.0
uvicorn
python-multipart
httpx
Pillow
prometheus-fastapi-instrumentator
pydantic~=2.8.2
pyyaml~=6.0.1
numpy
async-timeout
redis==5.0.7
nvidia-ml-py
transformers==4.55.4
torch==2.9.1
torchvision==0.24.1
rq>=2.4.0
